#content {
    display: flex;
}

#content aside {
    width: 270px;
    transition: 0.5s;
}

#content aside.sidebar-collapse {
    width: 65px;
}

#content aside nav {
    position: sticky;
    top: 5rem;
}

#content aside span i {
    cursor: pointer;
    font-size: 1.75rem;
}

#content aside span {
    transition: 0.5s;
    width: 1.75rem;
    text-align: center;
}

#content aside span.aktif {
    transform: rotate(180deg);
}

#content aside span i:hover {
    color: rgb(112, 112, 112);
}

@media only screen and (max-width: 768px) {
    #content {
        margin-top: 10rem;
        display: block;
    }

    aside#sidebar {
        margin-top: 3.5rem;
        background-color: #fff !important;
        height: 64px;
        overflow: hidden;
        transition: 0.5s;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
    }

    #content aside span {
        margin-top: 0.5rem;
        transform: rotate(-90deg);
    }

    #content aside span.expand {
        transform: rotate(90deg);
    }
}

@media only screen and (max-width: 400px) {
    aside#sidebar {
        top: -10px;
        height: 50px;
    }

    #content aside span {
        margin-top: 0.23rem;
    }

    #content {
        margin-top: 8rem;
    }
}
