nav.navbar {
    opacity: 0.95;
}

#content main {
    margin-top: 5rem;
}

div.login-container {
    height: 100vh;
    flex-direction: column;
}

div.login-container div.card {
    height: 80vh;
}

div.login-container div.card form {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

div.login-container div.card h1 {
    font-size: 3em;
}
