body {
    font-family: "PT Serif", serif;
    min-height: 100vh;
}

.bg-my {
    background: #00b4db;
    background: linear-gradient(to right, #0083b0, #00b4db);
}

.title {
    font-family: "Libre Baskerville", serif;
}

nav.navbar {
    opacity: 0.95;
    padding-right: 70px;
}

#sidebar-collapse {
    display: none;
}

#content {
    min-height: 100vh;
}

#content main {
    margin-top: 5rem;
}

#content main.login-container {
    margin: 0 !important;
}

main.login-container {
    width: 40vmax;
}

main.login-container button[type="submit"] {
    width: 100%;
}

main.login-container .card {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 992px) {
    nav.navbar {
        padding-right: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    main.login-container {
        width: 90vw;
    }
}
